body {
    font-family: serif; 
    transition: all 2s;
    background:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTrAc6ZONeVcYDAxdoR6TIAO84_EVQiSLhS9s3rbCIOBqnpVcx5);;
    background-size: cover;
    background-repeat: no-repeat;
    }
h1{
    color: black; 
    text-shadow:0.1em 0.1em 0.15em red;
    text-decoration: underline;
    font-size:60px;
    text-align:center;
    transition: all 2s ;
    background: url(http://67.media.tumblr.com/5abd9aa9b89a303f868895ebb059a749/tumblr_nltc5hTgVm1rx5rfmo1_1280.gif);

    }
h2 { 
    color:crimson; font-size: 50px;line-height: 100px; text-align: center; 
    }
h3 { background:url(http://66.media.tumblr.com/tumblr_lyou6uul881qe0qpeo1_250.gif) ;
    background-repeat: no-repeat;
    color:darkorange; 
    background-color:darkmagenta ;
    background-position: right;
    background-size:contain;
    font-family:inherit ; 
    font-size:20px;
    font-family: 'Rock Salt', cursive;
    }
p   {
    font-family: cursive;   
}
.participation {
    background-repeat: no-repeat;
    background-size:cover ;
    }
.contentinfo {
    text-align: center;
    }
.sidebar {
    position: absolute;
    top: 0;
    background-color:oldlace;
    opacity: 1.5;
    width: 300px;
    height: 93%;
}
.intro,summary,preamble, main supporting {
    padding-left: 27%;
}